includeConfig 'parameters.config'

conda.enabled = true
docker.enabled = false

cleanup = true
// Global cleanup configuration
cleanup {
   enabled = true
   strategy = 'completion'
}

process {
    errorStrategy = 'finish'  // Options: 'ignore', 'terminate', 'retry'
    maxRetries = 3
    maxErrors = -1  // -1 means unlimited; set to number to stop after N errors
    cleanup = true
    resourceLimits = [
        memory: 24.GB,
        cpus: 8
    ]
}

// Add these settings to manage storage
dag {
    enabled = true
    file = "${params.dir.output.reports}/PoolSeqFlow_pipeline_dag.html"
    overwrite = true
}

// Add trace configuration
trace {
    enabled = true
    file = "${params.dir.output.reports}/PoolSeqFlow_pipeline_trace.txt"
    sep = '\t'
    raw = true
    fields = [
        'status',
        'task_id',
        'hash',
        'name',
        'exit',
        'start',
        'complete',
        'duration',
        'realtime',
        'cpus',
        'memory',
        '%cpu',
        '%mem',
        'attempt'
    ]
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.dir.output.reports}/PoolSeqFlow_pipeline_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.dir.output.reports}/PoolSeqFlow_pipeline_report.html"
    overwrite = true
}

workDir = 'work'
cacheDir = 'cache'


env {
    PATH="${params.dir.bin}:\$PATH"
}